 <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Bug Tracking System</h3>
      </div>

      <ul class="list-unstyled components">
        <% if current_user %>
        <%= (image_tag current_user.profile_pic,class:"profile-pic text-center") if current_user.profile_pic.attached? %>
        <p class="u_name">Welcome <strong><%= current_user.user_name %>!!</strong></p>
        <% end %>
        <li> <%= link_to 'update profile', edit_user_registration_path()%>
        </li>

        <% if current_user.admin? %>
        <%= render 'role_dashboards/admin_dashboard' %>
        <% elsif current_user.project_manager? %>
        <%= render 'role_dashboards/projectManager' %>
        <% else %>
        <%= render 'role_dashboards/developer_dashboard'%>
        <% end %>
      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete,  class:"text-danger" %>
              </li>
            </ul>
          </div>
        </div>
</nav>
    </div>
  </div>
  <div class="footer text-center">
    <p>&copy, Developed by Sanju Basnet </p>
  </div>